<h1> About Us </h1>
  <h5>
Jungle is a family-run plant store located in downtown Toronto near Scarborough Village.

We specialize in both common and uncommon houseplants. We work with an array of Ontario growers for our popular houseplants. For more unique and interesting varieties, we import plants from sustainable growers across USA, Asia and South & Central America.
  </h5>

